<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdEcP3fPsh2k7u3bb8gH4X4CItnVbTdAc</string>
	<key>GCM_SENDER_ID</key>
	<string>770945763363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrcode</string>
	<key>PROJECT_ID</key>
	<string>qrcode-c6613</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcode-c6613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770945763363:ios:130b03657dfe9ff1e14996</string>
</dict>
</plist>